			input, button, select, option {
				width: 210px;
				font-family: sans-serif;
				vertical-align: top;
			}
			button {
				font-size: 7pt;
				height: 18px;
			}
			body {
				background-color: #EEFCEE;
				font-family: sans-serif;
			}
			table {
				margin: auto;
				border-collapse: collapse;
				border-spacing: 0px;
			}
			th {
				font-weight: normal;
				border-radius: 45%;
			}
			#bn { text-align: center; }
			#bnb {
				font-weight: bold;
				font-size: larger;
				color: #117D10;
				display: inline-flex;
				vertical-align: bottom;
			}
			#btns{	height: 70px; }
			#home{ visibility: hidden; }
			#hs {
				width: 200px;
				display: inline-block;
			}
			#mqtt0{
				margin-right: 7px;
				margin-left: 3px;
				visibility: hidden;
				}
			#titles {
				background: #117D10;
				color: white;
				text-align: center;
				font-size: small;
			}
			#tsel{
				margin-left: -7px;
				text-align: center;
			}
			#vs{ height: 15px; }
			
			#wifi, #esp, #gear, #tool, #grf, #run, #log, #pin{
				margin-top: -45px;
				display: none;
			}
			.sth{
				display: inline-flex;
				font-size:  smaller;
				margin-top:6px;
				margin-bottom: -2px;
			}
			#grass{
			    background-image: url(esp.png);
				background-repeat: no-repeat;
				background-size: 0%;
				background-position-y: bottom;
				background-position-x: center;
				background-repeat-x: repeat;
			}
			.thin{ height: 2px; }
			.std{
				width:50;
				text-align: right;
			}
			.stt{
				width:30px;
			}
			.right{
				text-align: right;
				margin-right: 5px;
			}
			.stm{
				width:50px;
				font-weight: bold;
			}

			.box {
				border-radius: 15px;
				width: 370px;
				background: #A8EB75;
				padding: 10px; 
				margin: auto;
				margin-bottom: 5px;
			}

			.hand{
				cursor: pointer;
				}
			.hand:hover{
				transform: scale(1.2);
			}
			.mut{
				color: #117D10;
				}
			.chk {
				color: #ffd600;
			}
			.lbl{
				font-size: 9pt;
				cursor: help;
				width: 21px;
			}
			
			.dk{
				color: #117D10;
				width: 75px;
				display: inline-flex;
			}
			
			.lt{
				color:#fd5603 ;
				display: inline-flex;
			}
			
			.ld {
				margin: 5px auto;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background-color: rgba(255, 255, 255, 0.25);
				box-shadow: #000 0 -1px 6px 1px;
			}
			
			.led-red {
				background-color: #F00;
				box-shadow: #000 0 -1px 6px 1px, inset #600 0 -1px 8px, #F00 0 3px 11px;
			}
			
			.led-green {
				background-color: #80FF00;
				box-shadow: #000 0 -1px 6px 1px, inset #460 0 -1px 8px, #80FF00 0 3px 11px;
			}
	
			.output{ cursor: pointer;	}
			
			.sl{
				color:#0316fd ;
				width:150px;
				display: inline-flex;
			}
			.sm{
				color:#f30202 ;
				width:150px;
				display: inline-flex;
			}
			
			.vn{
				font-size: small;
				text-align: center;
			}
			
			.wt{
				width: 75px;
				display: inline-flex;
			}
			
			.wip{
				width: 100px;
				display: inline;
			}
			.big{
				transform: scale(1.2);
			}
			.can { margin-left: 5px;}
			.cmd{
				display: inline-flex;
			}
			.heart {
			  background-color: red;
			  display: inline-block;
			  height: 7px;
			  position: relative;
			  top: 0;
			  transform: rotate(-45deg);
			  width: 7px;
			}
			
			.heart:before,
			.heart:after {
			  content: "";
			  background-color: red;
			  border-radius: 70%;
			  height: 8px;
			  position: absolute;
			  width: 8px;
			}
			
			.heart:before {
			  top: -6px;
			  left: 0;
			}
			
			.heart:after {
			  left: 5px;
			  top: -1;
			}